#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1361px 1685px #FFF, 565px 1543px #FFF, 1249px 1944px #FFF, 1765px 1718px #FFF, 105px 374px #FFF, 1615px 129px #FFF, 1403px 347px #FFF, 416px 87px #FFF, 966px 482px #FFF, 317px 1409px #FFF, 1737px 718px #FFF, 1595px 1789px #FFF, 565px 961px #FFF, 721px 268px #FFF, 1815px 1271px #FFF, 1891px 1429px #FFF, 414px 1928px #FFF, 1726px 851px #FFF, 1591px 1385px #FFF, 484px 1964px #FFF, 1450px 1430px #FFF, 658px 1867px #FFF, 744px 1804px #FFF, 1126px 201px #FFF, 888px 1690px #FFF, 473px 1666px #FFF, 266px 564px #FFF, 1663px 1686px #FFF, 183px 602px #FFF, 1231px 483px #FFF, 584px 721px #FFF, 1066px 18px #FFF, 137px 622px #FFF, 518px 239px #FFF, 1763px 19px #FFF, 602px 522px #FFF, 40px 901px #FFF, 1640px 1588px #FFF, 130px 310px #FFF, 204px 958px #FFF, 500px 1268px #FFF, 1582px 415px #FFF, 1148px 1610px #FFF, 225px 401px #FFF, 1754px 1012px #FFF, 460px 1714px #FFF, 613px 1523px #FFF, 1566px 899px #FFF, 150px 276px #FFF, 1403px 168px #FFF, 31px 1082px #FFF, 1076px 1953px #FFF, 871px 132px #FFF, 1961px 38px #FFF, 464px 526px #FFF, 6px 1774px #FFF, 1259px 1660px #FFF, 383px 852px #FFF, 1485px 1288px #FFF, 1411px 62px #FFF, 1743px 818px #FFF, 1011px 831px #FFF, 756px 1155px #FFF, 1256px 607px #FFF, 1860px 1566px #FFF, 650px 248px #FFF, 1878px 1137px #FFF, 1723px 9px #FFF, 1663px 1473px #FFF, 1084px 863px #FFF, 336px 478px #FFF, 174px 851px #FFF, 1239px 1817px #FFF, 1462px 781px #FFF, 20px 989px #FFF, 1461px 1224px #FFF, 1082px 1985px #FFF, 430px 224px #FFF, 1356px 1771px #FFF, 663px 1944px #FFF, 1216px 1509px #FFF, 608px 976px #FFF, 1666px 1574px #FFF, 195px 654px #FFF, 1382px 1660px #FFF, 740px 507px #FFF, 941px 803px #FFF, 590px 1712px #FFF, 1125px 1288px #FFF, 1983px 292px #FFF, 1629px 1646px #FFF, 747px 1426px #FFF, 1355px 902px #FFF, 1763px 1649px #FFF, 846px 1853px #FFF, 594px 347px #FFF, 443px 677px #FFF, 487px 1570px #FFF, 440px 212px #FFF, 357px 1022px #FFF, 1993px 1448px #FFF, 1115px 216px #FFF, 1670px 1848px #FFF, 1543px 64px #FFF, 638px 1122px #FFF, 1477px 1027px #FFF, 1735px 1802px #FFF, 1733px 1475px #FFF, 1566px 598px #FFF, 770px 968px #FFF, 1894px 930px #FFF, 1048px 609px #FFF, 609px 323px #FFF, 850px 1602px #FFF, 591px 614px #FFF, 453px 1889px #FFF, 446px 595px #FFF, 374px 467px #FFF, 832px 1662px #FFF, 305px 1723px #FFF, 1191px 278px #FFF, 1140px 17px #FFF, 1270px 753px #FFF, 501px 265px #FFF, 721px 582px #FFF, 454px 690px #FFF, 225px 197px #FFF, 1860px 1981px #FFF, 978px 863px #FFF, 1765px 1451px #FFF, 1987px 576px #FFF, 816px 1935px #FFF, 459px 1977px #FFF, 656px 1866px #FFF, 1537px 1394px #FFF, 1897px 1930px #FFF, 618px 800px #FFF, 555px 895px #FFF, 615px 1133px #FFF, 1384px 148px #FFF, 735px 1158px #FFF, 1616px 1776px #FFF, 339px 779px #FFF, 821px 1684px #FFF, 762px 1475px #FFF, 941px 788px #FFF, 1320px 1183px #FFF, 1142px 1642px #FFF, 567px 977px #FFF, 1897px 850px #FFF, 509px 748px #FFF, 1578px 816px #FFF, 1126px 977px #FFF, 1344px 798px #FFF, 978px 1449px #FFF, 383px 417px #FFF, 511px 1482px #FFF, 848px 433px #FFF, 863px 1700px #FFF, 322px 182px #FFF, 1628px 203px #FFF, 134px 1542px #FFF, 1038px 1955px #FFF, 966px 1390px #FFF, 359px 1719px #FFF, 158px 778px #FFF, 284px 487px #FFF, 1690px 1663px #FFF, 297px 1196px #FFF, 182px 480px #FFF, 196px 1479px #FFF, 1890px 1457px #FFF, 1335px 1797px #FFF, 1004px 334px #FFF, 1528px 1257px #FFF, 646px 578px #FFF, 169px 185px #FFF, 1855px 1753px #FFF, 1183px 532px #FFF, 36px 1057px #FFF, 321px 1215px #FFF, 889px 1009px #FFF, 1228px 972px #FFF, 973px 134px #FFF, 1856px 434px #FFF, 809px 901px #FFF, 774px 410px #FFF, 1190px 1419px #FFF, 1883px 88px #FFF, 1897px 1349px #FFF, 1479px 1436px #FFF, 1765px 153px #FFF, 1564px 226px #FFF, 1578px 1337px #FFF, 1192px 642px #FFF, 1283px 1430px #FFF, 934px 1131px #FFF, 1257px 612px #FFF, 543px 1566px #FFF, 1293px 588px #FFF, 406px 275px #FFF, 502px 132px #FFF, 517px 1939px #FFF, 1345px 901px #FFF, 544px 425px #FFF, 1559px 1501px #FFF, 1101px 1092px #FFF, 965px 226px #FFF, 609px 1293px #FFF, 1246px 288px #FFF, 625px 1557px #FFF, 100px 652px #FFF, 1333px 1796px #FFF, 1931px 293px #FFF, 203px 1457px #FFF, 1256px 293px #FFF, 1274px 96px #FFF, 1172px 34px #FFF, 439px 1878px #FFF, 5px 349px #FFF, 601px 1176px #FFF, 1882px 1864px #FFF, 1476px 522px #FFF, 306px 1776px #FFF, 365px 716px #FFF, 832px 698px #FFF, 582px 704px #FFF, 1585px 1912px #FFF, 1659px 726px #FFF, 1718px 231px #FFF, 1474px 1484px #FFF, 1092px 1934px #FFF, 1869px 1146px #FFF, 1161px 1895px #FFF, 1962px 230px #FFF, 744px 1446px #FFF, 948px 1113px #FFF, 472px 1527px #FFF, 451px 379px #FFF, 323px 162px #FFF, 1801px 1644px #FFF, 177px 697px #FFF, 1470px 1632px #FFF, 1359px 931px #FFF, 295px 849px #FFF, 1415px 1794px #FFF, 639px 392px #FFF, 584px 1415px #FFF, 1148px 651px #FFF, 1810px 319px #FFF, 1709px 1091px #FFF, 1016px 523px #FFF, 49px 1071px #FFF, 1442px 752px #FFF, 698px 1388px #FFF, 1328px 1920px #FFF, 1206px 1241px #FFF, 136px 1906px #FFF, 593px 81px #FFF, 1383px 327px #FFF, 483px 743px #FFF, 1423px 946px #FFF, 353px 1317px #FFF, 677px 800px #FFF, 1880px 1985px #FFF, 1721px 548px #FFF, 1153px 827px #FFF, 72px 1166px #FFF, 908px 275px #FFF, 331px 948px #FFF, 965px 682px #FFF, 1163px 240px #FFF, 1190px 1972px #FFF, 1173px 832px #FFF, 1349px 1737px #FFF, 294px 961px #FFF, 745px 1760px #FFF, 503px 327px #FFF, 221px 1991px #FFF, 489px 864px #FFF, 1900px 1084px #FFF, 734px 212px #FFF, 1614px 256px #FFF, 133px 277px #FFF, 303px 1669px #FFF, 385px 2px #FFF, 426px 1003px #FFF, 1339px 1566px #FFF, 1764px 881px #FFF, 690px 1230px #FFF, 1514px 1880px #FFF, 1058px 1448px #FFF, 102px 367px #FFF, 1334px 229px #FFF, 489px 507px #FFF, 1342px 1538px #FFF, 361px 1775px #FFF, 1568px 1511px #FFF, 617px 69px #FFF, 1827px 368px #FFF, 1122px 1124px #FFF, 122px 1100px #FFF, 640px 479px #FFF, 1442px 604px #FFF, 34px 1139px #FFF, 747px 1893px #FFF, 330px 1307px #FFF, 473px 1995px #FFF, 1702px 1454px #FFF, 908px 931px #FFF, 166px 124px #FFF, 222px 1497px #FFF, 1845px 1631px #FFF, 1993px 1637px #FFF, 209px 1216px #FFF, 766px 90px #FFF, 1127px 147px #FFF, 996px 1057px #FFF, 1375px 178px #FFF, 1887px 1922px #FFF, 48px 1366px #FFF, 782px 1907px #FFF, 421px 390px #FFF, 1239px 1606px #FFF, 710px 613px #FFF, 1632px 614px #FFF, 1271px 921px #FFF, 195px 446px #FFF, 1757px 863px #FFF, 1469px 1990px #FFF, 1056px 1526px #FFF, 1270px 1473px #FFF, 924px 98px #FFF, 297px 1451px #FFF, 1498px 1958px #FFF, 571px 1570px #FFF, 1682px 1577px #FFF, 490px 977px #FFF, 1347px 587px #FFF, 1933px 1130px #FFF, 1362px 77px #FFF, 101px 164px #FFF, 422px 1407px #FFF, 1755px 766px #FFF, 566px 821px #FFF, 90px 115px #FFF, 609px 96px #FFF, 313px 572px #FFF, 1391px 281px #FFF, 267px 866px #FFF, 1023px 1071px #FFF, 111px 1110px #FFF, 1387px 831px #FFF, 387px 1831px #FFF, 919px 784px #FFF, 1631px 1050px #FFF, 1494px 1028px #FFF, 1327px 910px #FFF, 827px 405px #FFF, 1725px 1098px #FFF, 1219px 1769px #FFF, 504px 270px #FFF, 535px 637px #FFF, 1635px 435px #FFF, 573px 595px #FFF, 522px 133px #FFF, 49px 1999px #FFF, 1770px 728px #FFF, 1051px 1155px #FFF, 206px 919px #FFF, 850px 919px #FFF, 110px 410px #FFF, 652px 1313px #FFF, 1565px 741px #FFF, 1892px 355px #FFF, 797px 221px #FFF, 150px 740px #FFF, 142px 241px #FFF, 782px 41px #FFF, 533px 736px #FFF, 1438px 764px #FFF, 478px 1228px #FFF, 1586px 1230px #FFF, 1899px 786px #FFF, 455px 1616px #FFF, 1854px 1585px #FFF, 1676px 720px #FFF, 68px 902px #FFF, 700px 1225px #FFF, 889px 393px #FFF, 657px 211px #FFF, 1393px 150px #FFF, 1222px 1775px #FFF, 880px 503px #FFF, 1828px 717px #FFF, 230px 1615px #FFF, 609px 362px #FFF, 972px 830px #FFF, 1039px 1670px #FFF, 191px 480px #FFF, 1848px 1063px #FFF, 1964px 1435px #FFF, 1371px 369px #FFF, 1479px 968px #FFF, 675px 614px #FFF, 779px 1420px #FFF, 279px 1070px #FFF, 752px 1259px #FFF, 1518px 1830px #FFF, 1367px 595px #FFF, 379px 811px #FFF, 329px 79px #FFF, 1680px 1128px #FFF, 775px 102px #FFF, 1159px 492px #FFF, 640px 353px #FFF, 1681px 913px #FFF, 1813px 1779px #FFF, 1623px 516px #FFF, 139px 1212px #FFF, 36px 1948px #FFF, 1622px 1130px #FFF, 1253px 145px #FFF, 420px 1346px #FFF, 201px 493px #FFF, 1463px 1627px #FFF, 1014px 428px #FFF, 1626px 708px #FFF, 472px 239px #FFF, 922px 1457px #FFF, 1677px 617px #FFF, 840px 282px #FFF, 318px 1179px #FFF, 1806px 1736px #FFF, 973px 263px #FFF, 954px 1530px #FFF, 1450px 646px #FFF, 279px 1719px #FFF, 1963px 851px #FFF, 838px 1839px #FFF, 1552px 410px #FFF, 1800px 706px #FFF, 1379px 32px #FFF, 1005px 1506px #FFF, 210px 600px #FFF, 176px 848px #FFF, 1334px 903px #FFF, 14px 1614px #FFF, 710px 1047px #FFF, 240px 1161px #FFF, 839px 1350px #FFF, 1215px 1242px #FFF, 1073px 916px #FFF, 1804px 1753px #FFF, 18px 372px #FFF, 1398px 1431px #FFF, 1744px 1412px #FFF, 802px 404px #FFF, 1275px 17px #FFF, 970px 1825px #FFF, 1754px 1405px #FFF, 453px 1684px #FFF, 1040px 975px #FFF, 1456px 774px #FFF, 1128px 905px #FFF, 1723px 333px #FFF, 125px 933px #FFF, 774px 1401px #FFF, 1765px 1130px #FFF, 1784px 836px #FFF, 1776px 1672px #FFF, 133px 1503px #FFF, 152px 67px #FFF, 1579px 747px #FFF, 485px 506px #FFF, 999px 1919px #FFF, 1402px 1376px #FFF, 1863px 1664px #FFF, 1654px 183px #FFF, 1319px 501px #FFF, 1612px 1515px #FFF, 841px 1526px #FFF, 830px 972px #FFF, 1590px 97px #FFF, 133px 1521px #FFF, 1554px 1316px #FFF, 474px 18px #FFF, 110px 369px #FFF, 1011px 118px #FFF, 1044px 1739px #FFF, 599px 408px #FFF, 1340px 542px #FFF, 1174px 156px #FFF, 802px 664px #FFF, 1010px 610px #FFF, 233px 1812px #FFF, 974px 790px #FFF, 1900px 217px #FFF, 1620px 839px #FFF, 246px 1699px #FFF, 317px 626px #FFF, 1244px 134px #FFF, 1530px 23px #FFF, 240px 1367px #FFF, 1964px 796px #FFF, 207px 1613px #FFF, 1004px 1697px #FFF, 367px 1306px #FFF, 1666px 164px #FFF, 613px 13px #FFF, 103px 1247px #FFF, 1289px 1137px #FFF, 76px 347px #FFF, 648px 1769px #FFF, 431px 972px #FFF, 312px 414px #FFF, 1765px 23px #FFF, 319px 994px #FFF, 746px 51px #FFF, 1849px 904px #FFF, 1078px 450px #FFF, 477px 1922px #FFF, 810px 1732px #FFF, 711px 979px #FFF, 1828px 1146px #FFF, 1733px 919px #FFF, 1235px 733px #FFF, 1460px 604px #FFF, 1876px 804px #FFF, 822px 1617px #FFF, 120px 376px #FFF, 1474px 1503px #FFF, 454px 1045px #FFF, 1922px 573px #FFF, 1076px 1680px #FFF, 1470px 1955px #FFF, 1767px 156px #FFF, 1210px 1119px #FFF, 1978px 1092px #FFF, 1556px 867px #FFF, 1861px 84px #FFF, 853px 1665px #FFF, 290px 898px #FFF, 243px 502px #FFF, 347px 745px #FFF, 1361px 1291px #FFF, 2px 973px #FFF, 910px 224px #FFF, 1647px 473px #FFF, 695px 1144px #FFF, 797px 1230px #FFF, 1492px 368px #FFF, 1561px 6px #FFF, 1341px 1132px #FFF, 1713px 946px #FFF, 1293px 309px #FFF, 1425px 1632px #FFF, 144px 1742px #FFF, 982px 184px #FFF, 549px 1357px #FFF, 66px 1023px #FFF, 1652px 827px #FFF, 709px 1478px #FFF, 1191px 617px #FFF, 936px 1000px #FFF, 1392px 1339px #FFF, 1601px 374px #FFF, 588px 789px #FFF, 807px 511px #FFF, 1878px 1821px #FFF, 1538px 1574px #FFF, 22px 517px #FFF, 83px 776px #FFF, 1619px 700px #FFF, 727px 885px #FFF, 389px 680px #FFF, 1640px 861px #FFF, 1554px 505px #FFF, 1761px 1261px #FFF, 440px 685px #FFF, 83px 1599px #FFF, 918px 1746px #FFF, 1682px 508px #FFF, 894px 1041px #FFF, 1547px 1244px #FFF, 753px 1064px #FFF, 671px 609px #FFF, 740px 1359px #FFF, 586px 34px #FFF, 256px 336px #FFF, 234px 571px #FFF, 1714px 772px #FFF, 383px 986px #FFF, 497px 726px #FFF, 735px 907px #FFF, 704px 680px #FFF, 1770px 1699px #FFF, 1953px 1025px #FFF, 320px 1849px #FFF, 170px 499px #FFF, 1971px 216px #FFF, 482px 1465px #FFF, 94px 1662px #FFF, 183px 1689px #FFF, 831px 1679px #FFF, 304px 291px #FFF, 1125px 551px #FFF, 1847px 588px #FFF, 1677px 1128px #FFF, 1832px 24px #FFF, 908px 414px #FFF, 708px 1041px #FFF, 202px 404px #FFF, 56px 1143px #FFF, 235px 1076px #FFF, 602px 209px #FFF, 1169px 437px #FFF, 1062px 622px #FFF, 1292px 647px #FFF, 728px 698px #FFF, 1515px 662px #FFF, 1059px 767px #FFF, 237px 1282px #FFF, 1427px 1125px #FFF, 1938px 1333px #FFF, 1526px 1961px #FFF, 766px 1747px #FFF, 1094px 1531px #FFF, 971px 1559px #FFF, 443px 1401px #FFF, 1561px 415px #FFF, 1476px 1211px #FFF, 1312px 1309px #FFF, 1619px 422px #FFF, 1028px 842px #FFF, 421px 1217px #FFF, 953px 1685px #FFF, 756px 624px #FFF, 1092px 680px #FFF, 462px 1176px #FFF, 1049px 965px #FFF, 1751px 1488px #FFF, 567px 49px #FFF, 803px 1103px #FFF, 429px 1252px #FFF, 395px 955px #FFF, 240px 1183px #FFF, 1323px 1968px #FFF, 284px 31px #FFF, 571px 553px #FFF, 936px 1148px #FFF, 331px 1284px #FFF, 1686px 1005px #FFF, 182px 622px #FFF, 41px 1018px #FFF, 901px 695px #FFF, 760px 172px #FFF, 1689px 879px #FFF, 871px 360px #FFF, 1610px 55px #FFF, 286px 1668px #FFF, 985px 1799px #FFF, 1513px 34px #FFF, 1158px 1855px #FFF, 1766px 1048px #FFF, 1855px 651px #FFF, 1632px 1041px #FFF, 173px 788px #FFF, 400px 1646px #FFF, 1323px 1592px #FFF, 1001px 698px #FFF, 291px 55px #FFF, 325px 706px #FFF, 713px 1566px #FFF, 1583px 445px #FFF, 1722px 183px #FFF, 312px 855px #FFF, 539px 766px #FFF, 1596px 1640px #FFF, 941px 1115px #FFF, 27px 358px #FFF, 1788px 1507px #FFF, 1435px 732px #FFF, 1294px 492px #FFF, 441px 1427px #FFF, 1363px 288px #FFF, 1214px 556px #FFF, 1491px 1256px #FFF, 651px 1419px #FFF, 169px 1323px #FFF, 990px 1922px #FFF, 1563px 675px #FFF, 1179px 1515px #FFF, 1546px 1907px #FFF, 562px 1775px #FFF, 503px 563px #FFF, 1921px 546px #FFF, 1622px 555px #FFF, 1991px 1176px #FFF, 1214px 237px #FFF;
	animation: animStar 50s linear infinite;
}

#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1361px 1685px #FFF, 565px 1543px #FFF, 1249px 1944px #FFF, 1765px 1718px #FFF, 105px 374px #FFF, 1615px 129px #FFF, 1403px 347px #FFF, 416px 87px #FFF, 966px 482px #FFF, 317px 1409px #FFF, 1737px 718px #FFF, 1595px 1789px #FFF, 565px 961px #FFF, 721px 268px #FFF, 1815px 1271px #FFF, 1891px 1429px #FFF, 414px 1928px #FFF, 1726px 851px #FFF, 1591px 1385px #FFF, 484px 1964px #FFF, 1450px 1430px #FFF, 658px 1867px #FFF, 744px 1804px #FFF, 1126px 201px #FFF, 888px 1690px #FFF, 473px 1666px #FFF, 266px 564px #FFF, 1663px 1686px #FFF, 183px 602px #FFF, 1231px 483px #FFF, 584px 721px #FFF, 1066px 18px #FFF, 137px 622px #FFF, 518px 239px #FFF, 1763px 19px #FFF, 602px 522px #FFF, 40px 901px #FFF, 1640px 1588px #FFF, 130px 310px #FFF, 204px 958px #FFF, 500px 1268px #FFF, 1582px 415px #FFF, 1148px 1610px #FFF, 225px 401px #FFF, 1754px 1012px #FFF, 460px 1714px #FFF, 613px 1523px #FFF, 1566px 899px #FFF, 150px 276px #FFF, 1403px 168px #FFF, 31px 1082px #FFF, 1076px 1953px #FFF, 871px 132px #FFF, 1961px 38px #FFF, 464px 526px #FFF, 6px 1774px #FFF, 1259px 1660px #FFF, 383px 852px #FFF, 1485px 1288px #FFF, 1411px 62px #FFF, 1743px 818px #FFF, 1011px 831px #FFF, 756px 1155px #FFF, 1256px 607px #FFF, 1860px 1566px #FFF, 650px 248px #FFF, 1878px 1137px #FFF, 1723px 9px #FFF, 1663px 1473px #FFF, 1084px 863px #FFF, 336px 478px #FFF, 174px 851px #FFF, 1239px 1817px #FFF, 1462px 781px #FFF, 20px 989px #FFF, 1461px 1224px #FFF, 1082px 1985px #FFF, 430px 224px #FFF, 1356px 1771px #FFF, 663px 1944px #FFF, 1216px 1509px #FFF, 608px 976px #FFF, 1666px 1574px #FFF, 195px 654px #FFF, 1382px 1660px #FFF, 740px 507px #FFF, 941px 803px #FFF, 590px 1712px #FFF, 1125px 1288px #FFF, 1983px 292px #FFF, 1629px 1646px #FFF, 747px 1426px #FFF, 1355px 902px #FFF, 1763px 1649px #FFF, 846px 1853px #FFF, 594px 347px #FFF, 443px 677px #FFF, 487px 1570px #FFF, 440px 212px #FFF, 357px 1022px #FFF, 1993px 1448px #FFF, 1115px 216px #FFF, 1670px 1848px #FFF, 1543px 64px #FFF, 638px 1122px #FFF, 1477px 1027px #FFF, 1735px 1802px #FFF, 1733px 1475px #FFF, 1566px 598px #FFF, 770px 968px #FFF, 1894px 930px #FFF, 1048px 609px #FFF, 609px 323px #FFF, 850px 1602px #FFF, 591px 614px #FFF, 453px 1889px #FFF, 446px 595px #FFF, 374px 467px #FFF, 832px 1662px #FFF, 305px 1723px #FFF, 1191px 278px #FFF, 1140px 17px #FFF, 1270px 753px #FFF, 501px 265px #FFF, 721px 582px #FFF, 454px 690px #FFF, 225px 197px #FFF, 1860px 1981px #FFF, 978px 863px #FFF, 1765px 1451px #FFF, 1987px 576px #FFF, 816px 1935px #FFF, 459px 1977px #FFF, 656px 1866px #FFF, 1537px 1394px #FFF, 1897px 1930px #FFF, 618px 800px #FFF, 555px 895px #FFF, 615px 1133px #FFF, 1384px 148px #FFF, 735px 1158px #FFF, 1616px 1776px #FFF, 339px 779px #FFF, 821px 1684px #FFF, 762px 1475px #FFF, 941px 788px #FFF, 1320px 1183px #FFF, 1142px 1642px #FFF, 567px 977px #FFF, 1897px 850px #FFF, 509px 748px #FFF, 1578px 816px #FFF, 1126px 977px #FFF, 1344px 798px #FFF, 978px 1449px #FFF, 383px 417px #FFF, 511px 1482px #FFF, 848px 433px #FFF, 863px 1700px #FFF, 322px 182px #FFF, 1628px 203px #FFF, 134px 1542px #FFF, 1038px 1955px #FFF, 966px 1390px #FFF, 359px 1719px #FFF, 158px 778px #FFF, 284px 487px #FFF, 1690px 1663px #FFF, 297px 1196px #FFF, 182px 480px #FFF, 196px 1479px #FFF, 1890px 1457px #FFF, 1335px 1797px #FFF, 1004px 334px #FFF, 1528px 1257px #FFF, 646px 578px #FFF, 169px 185px #FFF, 1855px 1753px #FFF, 1183px 532px #FFF, 36px 1057px #FFF, 321px 1215px #FFF, 889px 1009px #FFF, 1228px 972px #FFF, 973px 134px #FFF, 1856px 434px #FFF, 809px 901px #FFF, 774px 410px #FFF, 1190px 1419px #FFF, 1883px 88px #FFF, 1897px 1349px #FFF, 1479px 1436px #FFF, 1765px 153px #FFF, 1564px 226px #FFF, 1578px 1337px #FFF, 1192px 642px #FFF, 1283px 1430px #FFF, 934px 1131px #FFF, 1257px 612px #FFF, 543px 1566px #FFF, 1293px 588px #FFF, 406px 275px #FFF, 502px 132px #FFF, 517px 1939px #FFF, 1345px 901px #FFF, 544px 425px #FFF, 1559px 1501px #FFF, 1101px 1092px #FFF, 965px 226px #FFF, 609px 1293px #FFF, 1246px 288px #FFF, 625px 1557px #FFF, 100px 652px #FFF, 1333px 1796px #FFF, 1931px 293px #FFF, 203px 1457px #FFF, 1256px 293px #FFF, 1274px 96px #FFF, 1172px 34px #FFF, 439px 1878px #FFF, 5px 349px #FFF, 601px 1176px #FFF, 1882px 1864px #FFF, 1476px 522px #FFF, 306px 1776px #FFF, 365px 716px #FFF, 832px 698px #FFF, 582px 704px #FFF, 1585px 1912px #FFF, 1659px 726px #FFF, 1718px 231px #FFF, 1474px 1484px #FFF, 1092px 1934px #FFF, 1869px 1146px #FFF, 1161px 1895px #FFF, 1962px 230px #FFF, 744px 1446px #FFF, 948px 1113px #FFF, 472px 1527px #FFF, 451px 379px #FFF, 323px 162px #FFF, 1801px 1644px #FFF, 177px 697px #FFF, 1470px 1632px #FFF, 1359px 931px #FFF, 295px 849px #FFF, 1415px 1794px #FFF, 639px 392px #FFF, 584px 1415px #FFF, 1148px 651px #FFF, 1810px 319px #FFF, 1709px 1091px #FFF, 1016px 523px #FFF, 49px 1071px #FFF, 1442px 752px #FFF, 698px 1388px #FFF, 1328px 1920px #FFF, 1206px 1241px #FFF, 136px 1906px #FFF, 593px 81px #FFF, 1383px 327px #FFF, 483px 743px #FFF, 1423px 946px #FFF, 353px 1317px #FFF, 677px 800px #FFF, 1880px 1985px #FFF, 1721px 548px #FFF, 1153px 827px #FFF, 72px 1166px #FFF, 908px 275px #FFF, 331px 948px #FFF, 965px 682px #FFF, 1163px 240px #FFF, 1190px 1972px #FFF, 1173px 832px #FFF, 1349px 1737px #FFF, 294px 961px #FFF, 745px 1760px #FFF, 503px 327px #FFF, 221px 1991px #FFF, 489px 864px #FFF, 1900px 1084px #FFF, 734px 212px #FFF, 1614px 256px #FFF, 133px 277px #FFF, 303px 1669px #FFF, 385px 2px #FFF, 426px 1003px #FFF, 1339px 1566px #FFF, 1764px 881px #FFF, 690px 1230px #FFF, 1514px 1880px #FFF, 1058px 1448px #FFF, 102px 367px #FFF, 1334px 229px #FFF, 489px 507px #FFF, 1342px 1538px #FFF, 361px 1775px #FFF, 1568px 1511px #FFF, 617px 69px #FFF, 1827px 368px #FFF, 1122px 1124px #FFF, 122px 1100px #FFF, 640px 479px #FFF, 1442px 604px #FFF, 34px 1139px #FFF, 747px 1893px #FFF, 330px 1307px #FFF, 473px 1995px #FFF, 1702px 1454px #FFF, 908px 931px #FFF, 166px 124px #FFF, 222px 1497px #FFF, 1845px 1631px #FFF, 1993px 1637px #FFF, 209px 1216px #FFF, 766px 90px #FFF, 1127px 147px #FFF, 996px 1057px #FFF, 1375px 178px #FFF, 1887px 1922px #FFF, 48px 1366px #FFF, 782px 1907px #FFF, 421px 390px #FFF, 1239px 1606px #FFF, 710px 613px #FFF, 1632px 614px #FFF, 1271px 921px #FFF, 195px 446px #FFF, 1757px 863px #FFF, 1469px 1990px #FFF, 1056px 1526px #FFF, 1270px 1473px #FFF, 924px 98px #FFF, 297px 1451px #FFF, 1498px 1958px #FFF, 571px 1570px #FFF, 1682px 1577px #FFF, 490px 977px #FFF, 1347px 587px #FFF, 1933px 1130px #FFF, 1362px 77px #FFF, 101px 164px #FFF, 422px 1407px #FFF, 1755px 766px #FFF, 566px 821px #FFF, 90px 115px #FFF, 609px 96px #FFF, 313px 572px #FFF, 1391px 281px #FFF, 267px 866px #FFF, 1023px 1071px #FFF, 111px 1110px #FFF, 1387px 831px #FFF, 387px 1831px #FFF, 919px 784px #FFF, 1631px 1050px #FFF, 1494px 1028px #FFF, 1327px 910px #FFF, 827px 405px #FFF, 1725px 1098px #FFF, 1219px 1769px #FFF, 504px 270px #FFF, 535px 637px #FFF, 1635px 435px #FFF, 573px 595px #FFF, 522px 133px #FFF, 49px 1999px #FFF, 1770px 728px #FFF, 1051px 1155px #FFF, 206px 919px #FFF, 850px 919px #FFF, 110px 410px #FFF, 652px 1313px #FFF, 1565px 741px #FFF, 1892px 355px #FFF, 797px 221px #FFF, 150px 740px #FFF, 142px 241px #FFF, 782px 41px #FFF, 533px 736px #FFF, 1438px 764px #FFF, 478px 1228px #FFF, 1586px 1230px #FFF, 1899px 786px #FFF, 455px 1616px #FFF, 1854px 1585px #FFF, 1676px 720px #FFF, 68px 902px #FFF, 700px 1225px #FFF, 889px 393px #FFF, 657px 211px #FFF, 1393px 150px #FFF, 1222px 1775px #FFF, 880px 503px #FFF, 1828px 717px #FFF, 230px 1615px #FFF, 609px 362px #FFF, 972px 830px #FFF, 1039px 1670px #FFF, 191px 480px #FFF, 1848px 1063px #FFF, 1964px 1435px #FFF, 1371px 369px #FFF, 1479px 968px #FFF, 675px 614px #FFF, 779px 1420px #FFF, 279px 1070px #FFF, 752px 1259px #FFF, 1518px 1830px #FFF, 1367px 595px #FFF, 379px 811px #FFF, 329px 79px #FFF, 1680px 1128px #FFF, 775px 102px #FFF, 1159px 492px #FFF, 640px 353px #FFF, 1681px 913px #FFF, 1813px 1779px #FFF, 1623px 516px #FFF, 139px 1212px #FFF, 36px 1948px #FFF, 1622px 1130px #FFF, 1253px 145px #FFF, 420px 1346px #FFF, 201px 493px #FFF, 1463px 1627px #FFF, 1014px 428px #FFF, 1626px 708px #FFF, 472px 239px #FFF, 922px 1457px #FFF, 1677px 617px #FFF, 840px 282px #FFF, 318px 1179px #FFF, 1806px 1736px #FFF, 973px 263px #FFF, 954px 1530px #FFF, 1450px 646px #FFF, 279px 1719px #FFF, 1963px 851px #FFF, 838px 1839px #FFF, 1552px 410px #FFF, 1800px 706px #FFF, 1379px 32px #FFF, 1005px 1506px #FFF, 210px 600px #FFF, 176px 848px #FFF, 1334px 903px #FFF, 14px 1614px #FFF, 710px 1047px #FFF, 240px 1161px #FFF, 839px 1350px #FFF, 1215px 1242px #FFF, 1073px 916px #FFF, 1804px 1753px #FFF, 18px 372px #FFF, 1398px 1431px #FFF, 1744px 1412px #FFF, 802px 404px #FFF, 1275px 17px #FFF, 970px 1825px #FFF, 1754px 1405px #FFF, 453px 1684px #FFF, 1040px 975px #FFF, 1456px 774px #FFF, 1128px 905px #FFF, 1723px 333px #FFF, 125px 933px #FFF, 774px 1401px #FFF, 1765px 1130px #FFF, 1784px 836px #FFF, 1776px 1672px #FFF, 133px 1503px #FFF, 152px 67px #FFF, 1579px 747px #FFF, 485px 506px #FFF, 999px 1919px #FFF, 1402px 1376px #FFF, 1863px 1664px #FFF, 1654px 183px #FFF, 1319px 501px #FFF, 1612px 1515px #FFF, 841px 1526px #FFF, 830px 972px #FFF, 1590px 97px #FFF, 133px 1521px #FFF, 1554px 1316px #FFF, 474px 18px #FFF, 110px 369px #FFF, 1011px 118px #FFF, 1044px 1739px #FFF, 599px 408px #FFF, 1340px 542px #FFF, 1174px 156px #FFF, 802px 664px #FFF, 1010px 610px #FFF, 233px 1812px #FFF, 974px 790px #FFF, 1900px 217px #FFF, 1620px 839px #FFF, 246px 1699px #FFF, 317px 626px #FFF, 1244px 134px #FFF, 1530px 23px #FFF, 240px 1367px #FFF, 1964px 796px #FFF, 207px 1613px #FFF, 1004px 1697px #FFF, 367px 1306px #FFF, 1666px 164px #FFF, 613px 13px #FFF, 103px 1247px #FFF, 1289px 1137px #FFF, 76px 347px #FFF, 648px 1769px #FFF, 431px 972px #FFF, 312px 414px #FFF, 1765px 23px #FFF, 319px 994px #FFF, 746px 51px #FFF, 1849px 904px #FFF, 1078px 450px #FFF, 477px 1922px #FFF, 810px 1732px #FFF, 711px 979px #FFF, 1828px 1146px #FFF, 1733px 919px #FFF, 1235px 733px #FFF, 1460px 604px #FFF, 1876px 804px #FFF, 822px 1617px #FFF, 120px 376px #FFF, 1474px 1503px #FFF, 454px 1045px #FFF, 1922px 573px #FFF, 1076px 1680px #FFF, 1470px 1955px #FFF, 1767px 156px #FFF, 1210px 1119px #FFF, 1978px 1092px #FFF, 1556px 867px #FFF, 1861px 84px #FFF, 853px 1665px #FFF, 290px 898px #FFF, 243px 502px #FFF, 347px 745px #FFF, 1361px 1291px #FFF, 2px 973px #FFF, 910px 224px #FFF, 1647px 473px #FFF, 695px 1144px #FFF, 797px 1230px #FFF, 1492px 368px #FFF, 1561px 6px #FFF, 1341px 1132px #FFF, 1713px 946px #FFF, 1293px 309px #FFF, 1425px 1632px #FFF, 144px 1742px #FFF, 982px 184px #FFF, 549px 1357px #FFF, 66px 1023px #FFF, 1652px 827px #FFF, 709px 1478px #FFF, 1191px 617px #FFF, 936px 1000px #FFF, 1392px 1339px #FFF, 1601px 374px #FFF, 588px 789px #FFF, 807px 511px #FFF, 1878px 1821px #FFF, 1538px 1574px #FFF, 22px 517px #FFF, 83px 776px #FFF, 1619px 700px #FFF, 727px 885px #FFF, 389px 680px #FFF, 1640px 861px #FFF, 1554px 505px #FFF, 1761px 1261px #FFF, 440px 685px #FFF, 83px 1599px #FFF, 918px 1746px #FFF, 1682px 508px #FFF, 894px 1041px #FFF, 1547px 1244px #FFF, 753px 1064px #FFF, 671px 609px #FFF, 740px 1359px #FFF, 586px 34px #FFF, 256px 336px #FFF, 234px 571px #FFF, 1714px 772px #FFF, 383px 986px #FFF, 497px 726px #FFF, 735px 907px #FFF, 704px 680px #FFF, 1770px 1699px #FFF, 1953px 1025px #FFF, 320px 1849px #FFF, 170px 499px #FFF, 1971px 216px #FFF, 482px 1465px #FFF, 94px 1662px #FFF, 183px 1689px #FFF, 831px 1679px #FFF, 304px 291px #FFF, 1125px 551px #FFF, 1847px 588px #FFF, 1677px 1128px #FFF, 1832px 24px #FFF, 908px 414px #FFF, 708px 1041px #FFF, 202px 404px #FFF, 56px 1143px #FFF, 235px 1076px #FFF, 602px 209px #FFF, 1169px 437px #FFF, 1062px 622px #FFF, 1292px 647px #FFF, 728px 698px #FFF, 1515px 662px #FFF, 1059px 767px #FFF, 237px 1282px #FFF, 1427px 1125px #FFF, 1938px 1333px #FFF, 1526px 1961px #FFF, 766px 1747px #FFF, 1094px 1531px #FFF, 971px 1559px #FFF, 443px 1401px #FFF, 1561px 415px #FFF, 1476px 1211px #FFF, 1312px 1309px #FFF, 1619px 422px #FFF, 1028px 842px #FFF, 421px 1217px #FFF, 953px 1685px #FFF, 756px 624px #FFF, 1092px 680px #FFF, 462px 1176px #FFF, 1049px 965px #FFF, 1751px 1488px #FFF, 567px 49px #FFF, 803px 1103px #FFF, 429px 1252px #FFF, 395px 955px #FFF, 240px 1183px #FFF, 1323px 1968px #FFF, 284px 31px #FFF, 571px 553px #FFF, 936px 1148px #FFF, 331px 1284px #FFF, 1686px 1005px #FFF, 182px 622px #FFF, 41px 1018px #FFF, 901px 695px #FFF, 760px 172px #FFF, 1689px 879px #FFF, 871px 360px #FFF, 1610px 55px #FFF, 286px 1668px #FFF, 985px 1799px #FFF, 1513px 34px #FFF, 1158px 1855px #FFF, 1766px 1048px #FFF, 1855px 651px #FFF, 1632px 1041px #FFF, 173px 788px #FFF, 400px 1646px #FFF, 1323px 1592px #FFF, 1001px 698px #FFF, 291px 55px #FFF, 325px 706px #FFF, 713px 1566px #FFF, 1583px 445px #FFF, 1722px 183px #FFF, 312px 855px #FFF, 539px 766px #FFF, 1596px 1640px #FFF, 941px 1115px #FFF, 27px 358px #FFF, 1788px 1507px #FFF, 1435px 732px #FFF, 1294px 492px #FFF, 441px 1427px #FFF, 1363px 288px #FFF, 1214px 556px #FFF, 1491px 1256px #FFF, 651px 1419px #FFF, 169px 1323px #FFF, 990px 1922px #FFF, 1563px 675px #FFF, 1179px 1515px #FFF, 1546px 1907px #FFF, 562px 1775px #FFF, 503px 563px #FFF, 1921px 546px #FFF, 1622px 555px #FFF, 1991px 1176px #FFF, 1214px 237px #FFF;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1874px 1958px #FFF, 1263px 1015px #FFF, 466px 1594px #FFF, 1692px 463px #FFF, 112px 950px #FFF, 1864px 1907px #FFF, 1728px 1034px #FFF, 1500px 1415px #FFF, 309px 1740px #FFF, 480px 1246px #FFF, 28px 1667px #FFF, 1497px 378px #FFF, 242px 1234px #FFF, 530px 205px #FFF, 1680px 1395px #FFF, 269px 1983px #FFF, 1649px 1021px #FFF, 896px 1527px #FFF, 903px 1742px #FFF, 886px 1539px #FFF, 1673px 1084px #FFF, 1060px 972px #FFF, 1649px 1945px #FFF, 576px 706px #FFF, 494px 703px #FFF, 1336px 198px #FFF, 883px 180px #FFF, 791px 161px #FFF, 501px 364px #FFF, 232px 254px #FFF, 1763px 11px #FFF, 156px 395px #FFF, 1014px 1853px #FFF, 217px 1018px #FFF, 1139px 1798px #FFF, 1095px 903px #FFF, 985px 999px #FFF, 1916px 1481px #FFF, 902px 1832px #FFF, 1015px 1460px #FFF, 511px 3px #FFF, 534px 976px #FFF, 1164px 971px #FFF, 1072px 640px #FFF, 866px 240px #FFF, 666px 676px #FFF, 1314px 881px #FFF, 1541px 259px #FFF, 1428px 192px #FFF, 161px 1773px #FFF, 68px 913px #FFF, 368px 750px #FFF, 1331px 862px #FFF, 201px 614px #FFF, 1799px 1930px #FFF, 1368px 429px #FFF, 1735px 486px #FFF, 1972px 901px #FFF, 1851px 1881px #FFF, 824px 1032px #FFF, 933px 1897px #FFF, 1216px 1567px #FFF, 1928px 293px #FFF, 946px 1081px #FFF, 374px 1552px #FFF, 127px 1988px #FFF, 909px 288px #FFF, 1579px 1596px #FFF, 188px 1546px #FFF, 149px 1876px #FFF, 480px 1593px #FFF, 1094px 891px #FFF, 1241px 1001px #FFF, 36px 1338px #FFF, 659px 1787px #FFF, 1254px 1851px #FFF, 1215px 239px #FFF, 150px 322px #FFF, 1007px 1787px #FFF, 1669px 1675px #FFF, 1082px 823px #FFF, 48px 97px #FFF, 1515px 1183px #FFF, 1117px 1993px #FFF, 1718px 870px #FFF, 1309px 1841px #FFF, 1815px 709px #FFF, 89px 1736px #FFF, 777px 1989px #FFF, 555px 1380px #FFF, 385px 1912px #FFF, 1893px 143px #FFF, 751px 805px #FFF, 1161px 18px #FFF, 1948px 515px #FFF, 1799px 791px #FFF, 1472px 751px #FFF, 1354px 109px #FFF, 1450px 750px #FFF, 1334px 887px #FFF, 363px 1872px #FFF, 249px 1281px #FFF, 1142px 558px #FFF, 534px 494px #FFF, 1125px 1220px #FFF, 1710px 1972px #FFF, 1231px 869px #FFF, 684px 601px #FFF, 1782px 921px #FFF, 1158px 300px #FFF, 1174px 1724px #FFF, 1906px 1784px #FFF, 987px 64px #FFF, 1442px 9px #FFF, 520px 1656px #FFF, 1660px 1394px #FFF, 1553px 326px #FFF, 1306px 1543px #FFF, 516px 1253px #FFF, 1584px 398px #FFF, 1856px 1178px #FFF, 1247px 1429px #FFF, 1875px 973px #FFF, 1532px 1200px #FFF, 1989px 979px #FFF, 907px 398px #FFF, 27px 837px #FFF, 714px 1722px #FFF, 1690px 1694px #FFF, 258px 1804px #FFF, 835px 699px #FFF, 318px 1916px #FFF, 1579px 521px #FFF, 852px 1510px #FFF, 145px 1477px #FFF, 984px 439px #FFF, 567px 1220px #FFF, 669px 236px #FFF, 1078px 1617px #FFF, 86px 141px #FFF, 311px 476px #FFF, 105px 567px #FFF, 1059px 714px #FFF, 1249px 1484px #FFF, 802px 1842px #FFF, 606px 1279px #FFF, 1381px 1301px #FFF, 534px 1696px #FFF, 546px 1988px #FFF, 1777px 505px #FFF, 1767px 1089px #FFF, 592px 1311px #FFF, 1804px 1716px #FFF, 1654px 924px #FFF, 852px 1747px #FFF, 1574px 1663px #FFF, 460px 223px #FFF, 1839px 1142px #FFF, 1144px 1756px #FFF, 359px 1238px #FFF, 445px 1871px #FFF, 1px 1300px #FFF, 55px 352px #FFF, 1761px 523px #FFF, 716px 1729px #FFF, 433px 1114px #FFF, 701px 1797px #FFF, 296px 885px #FFF, 1885px 358px #FFF, 997px 1512px #FFF, 549px 17px #FFF, 201px 294px #FFF, 498px 264px #FFF, 1345px 1378px #FFF, 1529px 1119px #FFF, 951px 936px #FFF, 1720px 1725px #FFF, 1896px 1069px #FFF, 1224px 1700px #FFF, 946px 1107px #FFF, 1016px 1062px #FFF, 24px 121px #FFF, 459px 992px #FFF, 1542px 328px #FFF, 618px 880px #FFF, 677px 699px #FFF, 1171px 1584px #FFF, 680px 96px #FFF, 1939px 1222px #FFF, 31px 1491px #FFF, 636px 398px #FFF, 1498px 199px #FFF, 344px 314px #FFF, 1763px 452px #FFF, 1210px 1407px #FFF, 1972px 1491px #FFF, 1701px 543px #FFF, 854px 917px #FFF, 122px 936px #FFF, 1144px 1788px #FFF;
	animation: animStar 100s linear infinite;
}

#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1874px 1958px #FFF, 1263px 1015px #FFF, 466px 1594px #FFF, 1692px 463px #FFF, 112px 950px #FFF, 1864px 1907px #FFF, 1728px 1034px #FFF, 1500px 1415px #FFF, 309px 1740px #FFF, 480px 1246px #FFF, 28px 1667px #FFF, 1497px 378px #FFF, 242px 1234px #FFF, 530px 205px #FFF, 1680px 1395px #FFF, 269px 1983px #FFF, 1649px 1021px #FFF, 896px 1527px #FFF, 903px 1742px #FFF, 886px 1539px #FFF, 1673px 1084px #FFF, 1060px 972px #FFF, 1649px 1945px #FFF, 576px 706px #FFF, 494px 703px #FFF, 1336px 198px #FFF, 883px 180px #FFF, 791px 161px #FFF, 501px 364px #FFF, 232px 254px #FFF, 1763px 11px #FFF, 156px 395px #FFF, 1014px 1853px #FFF, 217px 1018px #FFF, 1139px 1798px #FFF, 1095px 903px #FFF, 985px 999px #FFF, 1916px 1481px #FFF, 902px 1832px #FFF, 1015px 1460px #FFF, 511px 3px #FFF, 534px 976px #FFF, 1164px 971px #FFF, 1072px 640px #FFF, 866px 240px #FFF, 666px 676px #FFF, 1314px 881px #FFF, 1541px 259px #FFF, 1428px 192px #FFF, 161px 1773px #FFF, 68px 913px #FFF, 368px 750px #FFF, 1331px 862px #FFF, 201px 614px #FFF, 1799px 1930px #FFF, 1368px 429px #FFF, 1735px 486px #FFF, 1972px 901px #FFF, 1851px 1881px #FFF, 824px 1032px #FFF, 933px 1897px #FFF, 1216px 1567px #FFF, 1928px 293px #FFF, 946px 1081px #FFF, 374px 1552px #FFF, 127px 1988px #FFF, 909px 288px #FFF, 1579px 1596px #FFF, 188px 1546px #FFF, 149px 1876px #FFF, 480px 1593px #FFF, 1094px 891px #FFF, 1241px 1001px #FFF, 36px 1338px #FFF, 659px 1787px #FFF, 1254px 1851px #FFF, 1215px 239px #FFF, 150px 322px #FFF, 1007px 1787px #FFF, 1669px 1675px #FFF, 1082px 823px #FFF, 48px 97px #FFF, 1515px 1183px #FFF, 1117px 1993px #FFF, 1718px 870px #FFF, 1309px 1841px #FFF, 1815px 709px #FFF, 89px 1736px #FFF, 777px 1989px #FFF, 555px 1380px #FFF, 385px 1912px #FFF, 1893px 143px #FFF, 751px 805px #FFF, 1161px 18px #FFF, 1948px 515px #FFF, 1799px 791px #FFF, 1472px 751px #FFF, 1354px 109px #FFF, 1450px 750px #FFF, 1334px 887px #FFF, 363px 1872px #FFF, 249px 1281px #FFF, 1142px 558px #FFF, 534px 494px #FFF, 1125px 1220px #FFF, 1710px 1972px #FFF, 1231px 869px #FFF, 684px 601px #FFF, 1782px 921px #FFF, 1158px 300px #FFF, 1174px 1724px #FFF, 1906px 1784px #FFF, 987px 64px #FFF, 1442px 9px #FFF, 520px 1656px #FFF, 1660px 1394px #FFF, 1553px 326px #FFF, 1306px 1543px #FFF, 516px 1253px #FFF, 1584px 398px #FFF, 1856px 1178px #FFF, 1247px 1429px #FFF, 1875px 973px #FFF, 1532px 1200px #FFF, 1989px 979px #FFF, 907px 398px #FFF, 27px 837px #FFF, 714px 1722px #FFF, 1690px 1694px #FFF, 258px 1804px #FFF, 835px 699px #FFF, 318px 1916px #FFF, 1579px 521px #FFF, 852px 1510px #FFF, 145px 1477px #FFF, 984px 439px #FFF, 567px 1220px #FFF, 669px 236px #FFF, 1078px 1617px #FFF, 86px 141px #FFF, 311px 476px #FFF, 105px 567px #FFF, 1059px 714px #FFF, 1249px 1484px #FFF, 802px 1842px #FFF, 606px 1279px #FFF, 1381px 1301px #FFF, 534px 1696px #FFF, 546px 1988px #FFF, 1777px 505px #FFF, 1767px 1089px #FFF, 592px 1311px #FFF, 1804px 1716px #FFF, 1654px 924px #FFF, 852px 1747px #FFF, 1574px 1663px #FFF, 460px 223px #FFF, 1839px 1142px #FFF, 1144px 1756px #FFF, 359px 1238px #FFF, 445px 1871px #FFF, 1px 1300px #FFF, 55px 352px #FFF, 1761px 523px #FFF, 716px 1729px #FFF, 433px 1114px #FFF, 701px 1797px #FFF, 296px 885px #FFF, 1885px 358px #FFF, 997px 1512px #FFF, 549px 17px #FFF, 201px 294px #FFF, 498px 264px #FFF, 1345px 1378px #FFF, 1529px 1119px #FFF, 951px 936px #FFF, 1720px 1725px #FFF, 1896px 1069px #FFF, 1224px 1700px #FFF, 946px 1107px #FFF, 1016px 1062px #FFF, 24px 121px #FFF, 459px 992px #FFF, 1542px 328px #FFF, 618px 880px #FFF, 677px 699px #FFF, 1171px 1584px #FFF, 680px 96px #FFF, 1939px 1222px #FFF, 31px 1491px #FFF, 636px 398px #FFF, 1498px 199px #FFF, 344px 314px #FFF, 1763px 452px #FFF, 1210px 1407px #FFF, 1972px 1491px #FFF, 1701px 543px #FFF, 854px 917px #FFF, 122px 936px #FFF, 1144px 1788px #FFF;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1425px 305px #FFF, 248px 1152px #FFF, 1451px 591px #FFF, 1064px 1705px #FFF, 1674px 478px #FFF, 947px 1899px #FFF, 1631px 1677px #FFF, 70px 712px #FFF, 1731px 619px #FFF, 128px 487px #FFF, 1376px 388px #FFF, 1545px 236px #FFF, 171px 146px #FFF, 458px 546px #FFF, 320px 1645px #FFF, 1143px 874px #FFF, 818px 1129px #FFF, 1033px 1434px #FFF, 978px 1630px #FFF, 1202px 689px #FFF, 668px 313px #FFF, 1260px 1006px #FFF, 17px 1849px #FFF, 1125px 900px #FFF, 514px 542px #FFF, 1598px 237px #FFF, 1826px 419px #FFF, 130px 1787px #FFF, 1277px 1229px #FFF, 396px 570px #FFF, 1539px 89px #FFF, 1844px 44px #FFF, 1622px 324px #FFF, 1019px 622px #FFF, 712px 1357px #FFF, 1744px 1813px #FFF, 77px 1081px #FFF, 834px 1643px #FFF, 1041px 736px #FFF, 1492px 329px #FFF, 1707px 931px #FFF, 627px 563px #FFF, 1365px 1645px #FFF, 1606px 652px #FFF, 376px 1283px #FFF, 134px 583px #FFF, 1539px 1770px #FFF, 1611px 155px #FFF, 20px 1378px #FFF, 448px 1777px #FFF, 1355px 812px #FFF, 837px 328px #FFF, 1725px 1768px #FFF, 654px 149px #FFF, 1957px 1035px #FFF, 1791px 1512px #FFF, 1398px 799px #FFF, 81px 440px #FFF, 1708px 1317px #FFF, 1731px 536px #FFF, 119px 1492px #FFF, 462px 1813px #FFF, 368px 1162px #FFF, 1909px 1042px #FFF, 612px 1730px #FFF, 1196px 328px #FFF, 89px 312px #FFF, 1877px 1437px #FFF, 72px 1013px #FFF, 63px 1436px #FFF, 647px 1859px #FFF, 322px 689px #FFF, 1212px 1396px #FFF, 1994px 867px #FFF, 1254px 605px #FFF, 1242px 792px #FFF, 645px 1952px #FFF, 1525px 1585px #FFF, 458px 1512px #FFF, 443px 703px #FFF, 811px 975px #FFF, 445px 397px #FFF, 451px 634px #FFF, 46px 330px #FFF, 1359px 753px #FFF, 525px 1397px #FFF, 1619px 143px #FFF, 1395px 710px #FFF, 1096px 1826px #FFF, 241px 1106px #FFF, 1692px 35px #FFF, 1061px 907px #FFF, 1704px 1951px #FFF, 1746px 254px #FFF, 702px 287px #FFF, 1788px 1769px #FFF, 537px 769px #FFF, 1078px 1551px #FFF, 617px 1815px #FFF, 1407px 1992px #FFF;
	animation: animStar 150s linear infinite;
}

#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1425px 305px #FFF, 248px 1152px #FFF, 1451px 591px #FFF, 1064px 1705px #FFF, 1674px 478px #FFF, 947px 1899px #FFF, 1631px 1677px #FFF, 70px 712px #FFF, 1731px 619px #FFF, 128px 487px #FFF, 1376px 388px #FFF, 1545px 236px #FFF, 171px 146px #FFF, 458px 546px #FFF, 320px 1645px #FFF, 1143px 874px #FFF, 818px 1129px #FFF, 1033px 1434px #FFF, 978px 1630px #FFF, 1202px 689px #FFF, 668px 313px #FFF, 1260px 1006px #FFF, 17px 1849px #FFF, 1125px 900px #FFF, 514px 542px #FFF, 1598px 237px #FFF, 1826px 419px #FFF, 130px 1787px #FFF, 1277px 1229px #FFF, 396px 570px #FFF, 1539px 89px #FFF, 1844px 44px #FFF, 1622px 324px #FFF, 1019px 622px #FFF, 712px 1357px #FFF, 1744px 1813px #FFF, 77px 1081px #FFF, 834px 1643px #FFF, 1041px 736px #FFF, 1492px 329px #FFF, 1707px 931px #FFF, 627px 563px #FFF, 1365px 1645px #FFF, 1606px 652px #FFF, 376px 1283px #FFF, 134px 583px #FFF, 1539px 1770px #FFF, 1611px 155px #FFF, 20px 1378px #FFF, 448px 1777px #FFF, 1355px 812px #FFF, 837px 328px #FFF, 1725px 1768px #FFF, 654px 149px #FFF, 1957px 1035px #FFF, 1791px 1512px #FFF, 1398px 799px #FFF, 81px 440px #FFF, 1708px 1317px #FFF, 1731px 536px #FFF, 119px 1492px #FFF, 462px 1813px #FFF, 368px 1162px #FFF, 1909px 1042px #FFF, 612px 1730px #FFF, 1196px 328px #FFF, 89px 312px #FFF, 1877px 1437px #FFF, 72px 1013px #FFF, 63px 1436px #FFF, 647px 1859px #FFF, 322px 689px #FFF, 1212px 1396px #FFF, 1994px 867px #FFF, 1254px 605px #FFF, 1242px 792px #FFF, 645px 1952px #FFF, 1525px 1585px #FFF, 458px 1512px #FFF, 443px 703px #FFF, 811px 975px #FFF, 445px 397px #FFF, 451px 634px #FFF, 46px 330px #FFF, 1359px 753px #FFF, 525px 1397px #FFF, 1619px 143px #FFF, 1395px 710px #FFF, 1096px 1826px #FFF, 241px 1106px #FFF, 1692px 35px #FFF, 1061px 907px #FFF, 1704px 1951px #FFF, 1746px 254px #FFF, 702px 287px #FFF, 1788px 1769px #FFF, 537px 769px #FFF, 1078px 1551px #FFF, 617px 1815px #FFF, 1407px 1992px #FFF;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	background-size: 600%;
	background-position: 0% 100%;
	-webkit-animation: gradient 7s ease-in-out infinite;
	animation: gradient 7s ease-in-out infinite;
	position: absolute;
	z-index: 999999;
}

.loading {
	width: 100%;
	height: 100%;
}

.loading * {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
	transform: translate3d(-50%, -50%, 0) rotate(0deg);
}

.loading .logo {
	background-repeat: no-repeat;
	background-position: center;
	width: 180px;
	height: 100%;
}

.loading .dots.animate .dot {
	-webkit-animation: loading-block 3.5s ease-in-out infinite;
	animation: loading-block 3.5s ease-in-out infinite;
}

.loading .dots.animate .dot:after {
	-webkit-animation: loading-dot 3.5s ease-in-out infinite;
	animation: loading-dot 3.5s ease-in-out infinite;
}

.loading .dots .dot {
	width: 300px;
	height: 300px;
}

.loading .dots .dot:after {
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	-webkit-transform: scale(0.17);
	transform: scale(0.17);
}

.loading .dots .dot:nth-child(1) {
	top: 120px;
	left: -209px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.loading .dots .dot:nth-child(1):after {
	-webkit-transform-origin: top right;
	transform-origin: top right;
	top: 0;
	right: 0;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.loading .dots .dot:nth-child(2) {
	top: -161px;
	left: -194px;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.loading .dots .dot:nth-child(2):after {
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.loading .dots .dot:nth-child(3) {
	top: -161px;
	left: -101px;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loading .dots .dot:nth-child(3):after {
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loading .dots .dot:nth-child(4) {
	top: 116px;
	left: 200px;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.loading .dots .dot:nth-child(4):after {
	-webkit-transform-origin: top left;
	transform-origin: top left;
	top: 0;
	left: 0;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.loading .dots .dot:nth-child(5) {
	top: -161px;
	left: 214px;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.loading .dots .dot:nth-child(5):after {
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
	bottom: 0;
	left: 0;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes loading-block {
	71.4285714286%,
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

@keyframes loading-block {
	71.4285714286%,
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

@-webkit-keyframes loading-dot {
	0%,
	71.4285714286%,
	100% {
		-webkit-transform: scale(0.17);
		transform: scale(0.17);
	}
	35.7142857143% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes loading-dot {
	0%,
	71.4285714286%,
	100% {
		-webkit-transform: scale(0.17);
		transform: scale(0.17);
	}
	35.7142857143% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes gradient {
	50% {
		background-position: 100% 0%;
	}
}

@keyframes gradient {
	50% {
		background-position: 100% 0%;
	}
}

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
}

#main {
	padding: 4% 1.5em;
	max-width: 55em;
	margin: auto;
}

#header {
	padding: 1.5em;
	margin: 0 0 1em 0;
	background-color: #eee;
}

#footer {
	padding: 1.5em;
	margin: 2em 0 0 0;
	background-color: #eee;
}

.primary-nav {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0px;
}

.menu {
	position: relative;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.open-panel {
	border: none;
	background-color: #fff;
	padding: 0;
}

.hamburger {
	background: #fff;
	position: relative;
	display: block;
	text-align: center;
	padding: 13px 0;
	width: 50px;
	height: 80px;
	left: 0;
	top: 0;
	z-index: 1000;
	cursor: pointer;
}

.hamburger:before {
	content: "\2630";
	display: block;
	color: #000;
	line-height: 32px;
	font-size: 16px;
}

.openNav .hamburger:before {
	content: "\2715";
	display: block;
	color: #000;
	line-height: 32px;
	font-size: 16px;
}

.hamburger:hover:before {
	color: #777;
}

.primary-nav .menu li {
	position: relative;
}

.menu .icon {
	position: absolute;
	top: 12px;
	right: 10px;
	pointer-events: none;
	width: 24px;
	height: 24px;
	color: #fff;
}

.menu,
.menu a,
.menu a:visited {
	color: #aaa;
	text-decoration: none!important;
	position: relative;
}

.menu a {
	display: block;
	white-space: nowrap;
	padding: 1em;
	font-size: 17px;
}

.menu a:hover {
	color: #fff;
}

.menu {
	margin-bottom: 3em;
}

.menu-dropdown li .icon {
	color: #777;
}

.menu-dropdown li:hover .icon {
	color: #fff;
}

.menu label {
	margin-bottom: 0;
	display: block;
}

.menu label:hover {
	cursor: pointer;
}

.menu input[type="checkbox"] {
	display: none;
}

input#menu[type="checkbox"] {
	display: none;
}

.sub-menu-dropdown {
	display: none;
}

.new-wrapper {
	position: absolute;
	left: 50px;
	width: calc(100% - 50px);
	transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked+ul.menu-dropdown {
	left: 0;
	-webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
	animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked+ul.sub-menu-dropdown {
	display: block!important;
	-webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
	animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.openNav .new-wrapper {
	position: absolute;
	transform: translate3d(200px, 0, 0);
	width: calc(100% - 250px);
	transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
	background: transparent;
	position: absolute;
	right: 50px;
	top: 12px;
	color: #777;
	width: 24px;
	height: 24px;
	text-align: center;
	display: block;
}

.downarrow:hover {
	color: #fff;
}

.menu {
	position: absolute;
	display: block;
	left: -200px;
	top: 0;
	width: 250px;
	transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
	background-color: #000;
	z-index: 999;
}

.menu-dropdown {
	top: 0;
	overflow-y: auto;
}

.overflow-container {
	position: relative;
	height: calc(100vh)!important;
	overflow-y: auto;
	border-top: 90px solid #fff;
	z-index: -1;
	display: block;
}

.menu a.logotype {
	position: absolute!important;
	top: 15px;
	left: 55px;
	width: 120px;
	height: 100px;
	display: block;
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: #000;
	font-size: 20px;
	padding: 10px;
}

.menu a.logotype span {
	font-weight: 400;
}

.menu a.logotype:hover {
	color: #777;
}

.sub-menu-dropdown {
	background-color: #333;
}

.menu:hover {
	position: absolute;
	left: 0;
	top: 0;
}

.openNav .menu:hover {
	position: absolute;
	left: -200px;
	top 73px;
}

.openNav .menu {
	top 73px;
	transform: translate3d(200px, 0, 0);
	transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes grow {
	0% {
		display: none;
		opacity: 0;
	}
	50% {
		display: block;
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes grow {
	0% {
		display: none;
		opacity: 0;
	}
	50% {
		display: block;
		opacity: 0.5;
	}
	100% {
		opacity: 1
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 800;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.light {
	color: #ddd;
}

strong {
	font-weight: 600;
}

cite,
em,
i {
	font-style: italic;
}

p.big {
	font-size: 140%;
	line-height: 1.3em;
}

p.small {
	font-size: 80%;
}

blockquote {
	display: block;
	margin: 1em 20px;
	padding: 0 1em;
	position: relative;
}

blockquote:before {}

blockquote cite,
blockquote em,
blockquote i {
	font-style: italic;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

p {
	font-size: 1em;
	margin: 0 0 2em 0;
}

article:last-of-type,
p:last-of-type {
	margin-bottom: 0;
}

p.intro {
	font-size: 1.25em;
	line-height: 1.5;
	font-weight: 300;
	margin: 0 0 1.5em 0;
}

h1,
h2 {
	letter-spacing: -1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	margin: 0 0 0.5em 0;
	line-height: 1.1;
}

h1,
.h1 {
	font-size: 2.074em;
}

h2,
.h2 {
	font-size: 1.728em;
}

h3,
.h3 {
	font-size: 1.44em;
}

h4,
.h4 {
	font-size: 1.2em;
}

@media screen and (min-width:42em) {
	h1,
	.h1 {
		letter-spacing: -2px;
	}
	h1,
	.h1 {
		font-size: 3.157em;
	}
	h2,
	.h2 {
		font-size: 2.369em;
	}
	h3,
	.h3 {
		font-size: 1.777em;
	}
	h4,
	.h4 {
		font-size: 1.333em;
	}
	p {
		font-size: 1.0625em;
	}
	p.intro {
		font-size: 1.3em;
	}
}

@media screen and (min-width:72em) {
	h1 {
		letter-spacing: -3px;
	}
	h1,
	.h1 {
		margin-bottom: 0.35em;
		font-size: 3.998em;
	}
	h2,
	.h2 {
		font-size: 2.827em;
	}
	h3,
	.h3 {
		font-size: 1.999em;
	}
	h4,
	.h4 {
		font-size: 1.414em;
	}
	p {
		font-size: 1.125em;
	}
	p.intro {
		font-size: 1.4em;
	}
}

* {
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Ubuntu', sans-serif;
}

#ScrollPane {
	position: relative;
	width: 100%;
	height: 100%;
}

.scr,
.pane {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 20px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

b {
	font-size: 80px;
	display: block;
	color: #ffffff;
	text-shadow: 1px 1px 0 #bbbbbb, 2px 2px 0 #cccccc, 3px 3px 0 #cccccc, 4px 4px 0 #cccccc, 5px 5px 0 #cccccc, 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
	font-family: 'Raleway', sans-serif;
}

.tab-style {
	font-size: 20px;
	width: 50%;
	background-color: #f2f2f2;
	text-align: center;
}

.nav-tabs>li>a {
	margin-right: 0px;
	color: grey;
}

.group2 {
	position: relative;
	margin-top: 16px;
}

.btn-block {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: #e5ecf4;
	color: #4a89dc;
}

.login-shadow {
	-webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
	-moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
	box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
	z-index: 1;
}

.signup-shadow {
	-webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
	-moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
	box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

.modal-header {
	background-color: #e5ecf4;
}

.group {
	position: relative;
	margin-top: 30px;
}

.input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: none;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.input:focus {
	outline: none;
}

.label {
	color: #757575;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: -10px;
	top: 10px;
	transition: all 0.2s ease;
}

.input:focus~.label,
.input.used~.label {
	top: -20px;
	transform: scale(.75);
	left: -15px;
	color: #4a89dc;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	transition: all 0.2s ease;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.input:focus~.highlight {
	animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width:767px) and (min-width:576px) {
	#myModal {
		margin-left: 20%;
		margin-right: 20%;
	}
	#forgot-password {
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media screen and (min-width:768px) {
	#myModal .modal-dialog {
		width: 500px;
	}
	#forgot-password .modal-dialog {
		width: 500px;
	}
	.modal-body {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.modal-body {
	background-image: url('');
	background-size: cover;
	z-inedx: 4;
}

em {
	display: none;
}

.button {
	background: transparent;
	border-radius: 100%/100%;
	font-size: 1.5em;
	height: 2em;
	padding: 0;
	position: relative;
	text-align: center;
	text-indent: 0.1em;
	transition: all 150ms ease-out;
	width: 2em;
	opacity: 0.8;
	top: 50vh;
}

.button:hover {
	background: black;
	opacity: 0.5;
}

.button::before {
	background: inherit;
	border-radius: 10%/90%;
	bottom: 100%;
	content: "";
	left: -5%;
	position: absolute;
	right: -5%;
	top: 9%;

}

.button::after {
	border-style: solid;
	border-width: 1em 0 1em 1.732em;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
	content: ' ';
	font-size: 0.2em;
	height: 0;
	margin: -1em 0 0 -0.75em;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 0;
}

span {
	display: block;
	text-align: center;
}

.horiz {
	position: relative;
	width: 100%;
	height: 100%;
}

.horiz .spane {
	overflow: hidden;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

.horiz .pane {
	display: inline-block;
	width: 100%;
}

.ct {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.an .ct {
	transform: translate3D(0, 20px, 0) rotateX(90deg) scale(0.5);
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.380, 1.470);
}

.left,
.right {
	overflow: hidden;
	display: block;
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
}

.right {
	left: 50%;
}

.scrollup {
	position: absolute;
	width: 200px;
	top: 1px;
	left: 50%;
	margin-left: -100px;
	z-index: 3000;
	font-size: 20px;
	text-align: center;
	color: black;
	opacity: 0.3;
}

.scrolldown {
	position: absolute;
	width: 200px;
	bottom: 10px;
	left: 50%;
	margin-left: -100px;
	z-index: 3000;
	font-size: 20px;
	text-align: center;
}

.an.visible .ct {
	transform: translate3D(0, 0, 0) scale(1);
	opacity: 1;
}


/*contactus*/

body {
	font-family: "PT Sans";
	background-color: #d1cfcf;
}

.section {
	position: relative;
	width: 900px;
	max-width: 80%;
	border: 2px solid #333;
	border-top: none;
	text-align: center;
	margin: 60px auto;
}

.section h1 {
	position: relative;
	margin-top: -14px;
	display: inline-block;
	letter-spacing: 4px;
}

.top-border {
	position: absolute;
	height: 2px;
	width: 24%;
	background-color: #333;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

@media (max-width: 685px) {
	.top-border {
		width: 18%;
	}
}

.section p {
	width: 61%;
	font-size: 16px;
	margin: 20px auto 40px auto;
	line-height: 22px;
}

.section a {
	outline: 0;
	display: inline-block;
	padding: 20px;
	margin-bottom: 40px;
	width: 440px;
	max-width: 80%;
	background-color: #333;
	color: #fff;
	font-size: 22px;
	letter-spacing: 3px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
	background-color: #1D222D;
}

.section a:link,
.section a:visited,
.section a:link:hover,
.section a:visited:hover {
	text-decoration: none;
	color: #fff;
}

@media (max-width: 500px) {
	.top-border {
		display: none;
	}
	.section {
		border-top: 2px solid #333;
	}
	.section h1 {
		margin: 20px 6px;
	}
}

.logo {
	-webkit-font-smoothing: antialiased;
}
